name: Build and Push Docker Image

on:
  workflow_dispatch:  
    inputs:
      VERSION:
        description: 'curl version'
        required: true
        default: '8.16.0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            VERSION=${{{ github.event.inputs.VERSION }}}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/static-curl:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/static-curl:${{ github.event.inputs.VERSION }}
